body {
	font-family: "Gentium Basic", "Arial Unicode MS", "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 10pt;
	
	color: #232425;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}
h5 {
	font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    color: #292F33;
}

.sous-titre {
	color: grey;
	font-size: 12px;
	font-weight: bolder;
}

.customisable-highlight {
	font-size: 18px;
}

.top-bar, .top-bar ul, .top-bar > ul {
	background-color: #333333;
}

li > a {
	color: white;
}

#logo, #banner {
	height: 180px;
	padding: 2em;
	color: lightgrey;
}

#logo {
}

#banner {
	background-color: darkgrey;
	background-image: url("../img/banner.png");
	background-size: 100% 200px;
}

.texte p{
	font-size: 10pt;
	text-align: justify;
	color: grey;
}
.specificite {
	color: black;
	font-weight: lighter;
}

#cloud-container {
	width: 80%;
}

.selected-menu {
	color: white !important;
	padding-bottom: 0.9em;
	border-bottom: 0.4em #1097eb solid;
}
.selected-item {
	color: darkgrey;	
}


.profil-selected {
	opacity: 1 !important;
}

.profil-candidat, .profil-selected {
	height: 40px;
}
.menu-candidat{
	
	padding: 0px;
}

.profil-candidat {
	opacity: 0.3;
}

.orbit-previous, orbit-next {
	z-index: 99;
}

.thumb {
	text-align: center;	
}

#footer1, #footer2 {
	width:100%;
	text-align: center;
}

#footer1 {
	background-color: #333333;
}

#footer1 div {
	height: 200px;
	margin-bottom: 2em;
	margin-top: 2em;
}

#footer1, #footer1 h5 {
	color: lightgrey !important;
	padding-bottom: 1em;
}
#footer1 li {
	text-align: left;
}

.footer-icon {
	font-size: 18pt;
}

#footer2 {
	background-color: white;
	height: 50px; 
}

.social-icon {
	position: absolute;
	font-size: 1.5em !important;
	color: white;
}